table{
    background-color: white;
}
button{
    margin: 10px;
}
.main-panel{
    background-color: azure;
    padding: 10px;
}
.row{
    padding: 10px;
}
.error{
    font-weight: 500;
    font-size: larger;
    display: block;
    text-align: center;
    color: red;
}